@font-face {
    font-family: "SF Pro Text";
    src: url("./SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    src: url("./SF-Pro-Display-Regular.otf") format("opentype");
}