@import url("../fonts/fonts.css");

.Header {
    font-family: "SF Pro Display", sans-serif;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
}

.HeaderGroup {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
    background: rgba(21, 16, 114, 0.43);
    padding: 10px;
    border-radius: 20px;

}

.Header a {
    color: white;
    font-weight: 700;
    cursor: pointer;

}

.Header button {
    padding: 5px 15px;
    font-size: 20px;
    background: #56CCF2;
    border-radius: 10px;
    color: #000000;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.Header button:hover {
    background: #c2ecff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px) translateX(2px);
}

@media (max-width: 640px) {
    .Header {
        padding: 5px 0;
    }
    .HeaderGroup {
        grid-template-columns: repeat(5, auto);
    }
    .Header a:nth-child(4) {
        display: none;
    }
}